html {
    background: url(../images/homebackgrounds/Guitar.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    width: 100%;
    margin: 0px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
}

.content {
    position: absolute;
    top: 30%;
    width: 100%;
    margin: 0px;
}

.container {
    width: 100%;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

#primary {
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

#secondary {
    background-color: rgba(77, 77, 77, 10);
}
