<div id="player" ng-init="init()" ng-controller="PlayerControl">
  <div id="api"></div>
  <div id="album_art">
    <img id="art" src="{{ art }}" height="200" width="200" style="float:left;margin-right:20px;">
  </div>
  <div id="metadata">
    <p><span id="track">{{ track }}</span></p>
    <p><span id="album">{{ album }}</span></p>
    <p><span id="artist">{{ artist }}</span></p>
  </div>
  <div id="position">
    <span style="display:inline-block;width:200px;border:1px solid black;">
      <span id="position_slider" style="width:{{ position }}%;display:inline-block;background-color:#666">&nbsp;</span>
    </span>
  </div>
  <div id="controls">
    <button ng-hide="playing" ng-click="play()" id="play">|&gt;</button>
    <button ng=hide="!playing" ng-click="pause()" id="pause">||</button>
  </div>
</div>